@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  color: #101010;
}

body {
  background-color: #fbfbfb;
}
